  <!DOCTYPE html>
  <html lang="en">
    <%- include ('header') %>
  
    <body>

      <%- include ("navbar") %>
      <div class="container">
      <h2><%= title %></h2>
      
        <%= message %>
        <p>Lorem ipsum dolor sit amet, error quaeque id cum. Te nam illum legere aliquip. Ad habeo dissentias consectetuer sit, hinc accusata facilisis vix ne. Et eam nullam insolens, ut hinc ludus definitiones mea. Duo quem tollit ad.
          </p>
          <p>
        Cum cu inani menandri delicatissimi, nullam suscipit suscipiantur te eum. Ei saperet mandamus cum, sit quis verear reprehendunt eu. Ex sensibus voluptatum per, erat errem id cum, eum facer inermis ad. Ea per paulo alienum menandri.
          </p>
          <p>
        Vel feugiat dolores ut, vix corpora sensibus salutatus ne, usu ut tempor eligendi honestatis. Amet quot no mea, case alterum probatus sit in. Prima primis et ius, vim an corpora detracto theophrastus, ea sit quas gloriatur. Singulis pertinax mnesarchum mel in, sea cibo detracto an. Ad has.
        </p>
        
   
        </div>
      <%- include ("footer") %>  
    </body>  