<!DOCTYPE html>
<html lang="en">
  <%- include ('header') %>

  <body>

    <%- include ("navbar") %>
    <div class="container">
        <h2><%= title %></h2>

        <%= message %>

        <% if(employees.length) { %>
       
        <a href="/new">New employee</a>
      
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
        <tbody>
          <% employees.forEach(function( list ) { %>
          <tr>
            <td><%= list.firstName %></td>
            <td><%= list.lastName %></td>
          </tr>
        </tbody>
        <% }) %>
        </table>
        <% } %>
        

        

    </div>    
    <%- include ("footer") %>  
  </body>  