  
<!DOCTYPE html>
<html lang="en">

  <%- include ('header') %>

<body>

  <%- include ('navbar') %>
  <div role="main" class="container">
    <br/><br/>

    <h2><%= title %></h2>

    <form method="post" action="/process">

      <div class="form-group">
        <label for="txtName" id="Name">Name:</label>
        <input type="text"  class="form-control" id="txtName" name="txtName">
      </div>
      <div class="form-group">
        <label for="txtLastName" id="lastName">Last Name:</label>
        <input type="text" class="form-control" id="txtLastName" name="txtLastName" />
      </div>

      <div class="form-group">

        <!-- CRSF -->

        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
        <button type="submit" class="btn">Submit</button>
      </div>

    </form>

    <br /><br />
  
  </div>
    <%- include("footer") %>
    <%- include("scripts") %>
</body>
</html>