<!DOCTYPE html>
<html lang="en">
  <%- include ('header') %>

  <body>

    <%- include ("navbar") %>
    <div class="container">
        <h2><%= title %></h2>

      


        

    </div>    
    <%- include ("footer") %> 
    <%- include ("script") %> 
  </body>  